<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>721644070514-kb7chtcd40ve0130fnsd3ruemqieo61v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD1yNo6bOtyFfdIQILot6ghfxonQIh6pYE</string>
	<key>GCM_SENDER_ID</key>
	<string>721644070514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authenticationTestApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>test-project-c0252</string>
	<key>STORAGE_BUCKET</key>
	<string>test-project-c0252.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721644070514:ios:4265d98b5f1a7eb65344eb</string>
</dict>
</plist>